
<%- include('../layout/admin/header.ejs') %>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="index.html" class="brand-wrap">
                <img src="/asset/img/logo.png" class="logo" alt="Nest Dashboard" />
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"><i class="text-muted material-icons md-menu_open"></i></button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item">
                    <a class="menu-link" href="/admin/dashbord">
                        <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/users">
                        <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Users</span>
                    </a>
                    
                </li>
                <li class="menu-item  active">
                    <a class="menu-link" href="/admin/category">
                        <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Categories</span>
                    </a>
                   
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/product">
                        <i class="icon material-icons md-store"></i>
                        <span class="text">Product</span>
                    </a>
                    <li class="menu-item ">
                        <a class="menu-link" href="/admin/order">
                            <i class="icon material-icons md-store"></i>
                            <span class="text">Order</span>
                        </a>
                        </li>
                    
               
               
                
                
               
           
                    
                
            </ul>
            <br />
            <br />
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                <form class="searchform">
                    <div class="input-group">
                        <input list="search_terms" type="text" class="form-control" placeholder="Search term" />
                        <button class="btn btn-light bg" type="button"><i class="material-icons md-search"></i></button>
                    </div>
                    <datalist id="search_terms">
                        <option value="Products"></option>
                        <option value="New orders"></option>
                        <option value="Apple iphone"></option>
                        <option value="Ahmed Hassan"></option>
                    </datalist>
                </form>
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"><i class="material-icons md-apps"></i></button>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link btn-icon" href="#">
                            <i class="material-icons md-notifications animation-shake"></i>
                            <span class="badge rounded-pill">3</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownLanguage" aria-expanded="false"><i class="material-icons md-public"></i></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguage">
                            <a class="dropdown-item text-brand" href="#"><img src="/assets/imgs/theme/flag-us.png" alt="English" />English</a>
                            <a class="dropdown-item" href="#"><img src="/assets/imgs/theme/flag-fr.png" alt="Français" />Français</a>
                            <a class="dropdown-item" href="#"><img src="/assets/imgs/theme/flag-jp.png" alt="Français" />日本語</a>
                            <a class="dropdown-item" href="#"><img src="/assets/imgs/theme/flag-cn.png" alt="Français" />中国人</a>
                        </div>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="/assets/imgs/people/avatar-2.png" alt="User" /></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit Profile</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account Settings</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-account_balance_wallet"></i>Wallet</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help center</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="#"><i class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Users List</h2>
                    
                </div>
                <div>
                    <input type="text" placeholder="Search order ID" class="form-control bg-white" />
                </div>
            </div>
            <div class="card mb-4">
                <header class="card-header">
                    <div class="row gx-3">
                        <div class="col-lg-4 col-md-6 me-auto">
                            <input type="text" placeholder="Search..." class="form-control" />
                        </div>
                        <div class="col-lg-2 col-6 col-md-3">
                            <select class="form-select">
                                <option>Status</option>
                                <option>Active</option>
                                <option>Disabled</option>
                                <option>Show all</option>
                            </select>
                        </div>
                        <div class="col-lg-2 col-6 col-md-3">
                            <select class="form-select">
                                <option>Show 20</option>
                                <option>Show 30</option>
                                <option>Show 40</option>
                            </select>
                        </div>
                    </div>
                </header>
                <!-- card-header end// -->
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">#ID</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Edit</th>
                                    <th scope="col">Action</th>
                                    <th scope="col">delete</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                            <% category.forEach((user,index)=>{%>
                                    <tr>
                                        
                                        <td><%=index+1 %></td>
                                        <td><%=user.name %></td>
                                        <td><%=user.description%></td> 
                                        <td><a href="/admin/editcategory?id=<%=user._id%>"> <button     class="btn btn-md rounded font-sm block-button">Edit </button></a></td>
                                        <td >
                                             <%if(user.is_list){%>
                                                <a class="Unblock-user"  data-user-id="<%=user._id%>"><span class="badge rounded-pill alert-success">Unblock</span></a>
                                            <%}else{%>
                                                <a class="block-user"  data-user-id="<%=user._id%>"><span class="badge rounded-pill alert-warning  ">block</span></a>
                                            <%}%>
                                        </td> 
                                        <td >
                                       <button type="button"  data-user-id="<%=user._id%>" id="deleteButton"  class="btn btn-danger">delete</button>
                                        </td>
                                        
                                    </tr>
                                    <%})%>
                            </tbody>
                        </table>
                    </div>
                    <!-- table-responsive //end -->
                </div>
                <!-- card-body end// -->
            </div>
            <!-- card end// -->
           
            <div class="d-grid">
                <a href="/admin/createcategory">  <button  class="btn btn-primary">Create category</button></a>
              </div>
        </section>
        <script>
       document.querySelectorAll('.Unblock-user,.block-user').forEach(function(element){
         element.addEventListener('click',function(event){
            event.preventDefault();
            

            const userId=element.getAttribute('data-user-id');
            action=element.classList.contains('block-user')?'block':'unblock';
            
            fetch(`/admin/blockcategory/${userId}`,{
                method:'PATCH',
            })
            
            .then(response => response.json())
                    .then(data => {
                        if (data.block === true) {
                            //updating the button text and color
                            element.querySelector('span').classList.toggle('alert-success');
                            element.querySelector('span').classList.toggle('alert-warning');
                            element.querySelector('span').innerText = action === 'block' ? 'unblock' : 'block';
                            
                            // Replace button class
                            element.classList.remove(action === 'block' ? 'block-user' : 'unblock-user');
                            element.classList.add(action === 'block' ? 'unblock-user' : 'block-user');
                        }
                    }).catch((error) => {
                        console.log(error.message);
                    })
         })

       })


        </script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        
        <script>
        document.getElementById('deleteButton').addEventListener('click', async function() {
               var UserDataElement=document.getElementById('deleteButton');
                var productId= UserDataElement.getAttribute('data-user-id');
                  
                const result = await Swal.fire({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, delete it!",
              });
              if (result.isConfirmed) {
                try {
               
               
                  const response = await fetch(`/admin/deletcategory/${productId}`, {
                    method: 'DELETE',
                   });
             if (response.ok) {
                    location.reload()
                    } else {
                    
                    Swal.fire({
                      title: "Error",
                      text: "Failed to delete the product.",
                      icon: "error",
                    });
                  }
                } catch (error) {
                
                  console.error(error);
            
                  Swal.fire({
                    title: "Error",
                    text: "An unexpected error occurred.",
                    icon: "error",
                  });
                }
              }
            });
            </script>
      
       
      