
<%- include('../layout/admin/header.ejs') %>


<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="index.html" class="brand-wrap">
                <img src="/asset/img/logo.png" class="logo" alt="Nest Dashboard" />
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"><i class="text-muted material-icons md-menu_open"></i></button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item">
                    <a class="menu-link" href="/admin/dashbord">
                        <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item  ">
                    <a class="menu-link" href="/admin/users">
                        <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Users</span>
                    </a>
                   
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/category">
                        <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Category</span>
                    </a>
                   
                </li>
                <li class="menu-item  ">
                    <a class="menu-link" href="/admin/product">
                        <i class="icon material-icons md-store"></i>
                        <span class="text">product</span>
                    </a>
                    
                </li>
                
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/order">
                        <i class="material-icons md-notifications animation-shake"></i>
                        <span class="text"style="    margin-left: 11px;">Order</span>
                    </a>
                    </li>
                    <li class="menu-item ">
                        <a class="menu-link" href="/admin/Coupon">
                            <i class="icon material-icons md-local_offer"></i>
                            <span class="text">Coupon</span>
                        </a>
                        </li>
                        <li class="menu-item ">
                            <a class="menu-link" href="/admin/offer">
                                <i class="icon material-icons md-monetization_on"></i>
                                <span class="text">Offer</span>
                            </a>
                            </li>
                
                   
              
                
                   
                
                
                
            </ul>
            <hr />
         
               
            </ul>
            <br />
            <br />
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                <form class="searchform">
                    <div class="input-group">
                        <input list="search_terms" type="text" class="form-control" placeholder="Search term" />
                        <button class="btn btn-light bg" type="button"><i class="material-icons md-search"></i></button>
                    </div>
                    <datalist id="search_terms">
                        <option value="Products"></option>
                        <option value="New orders"></option>
                        <option value="Apple iphone"></option>
                        <option value="Ahmed Hassan"></option>
                    </datalist>
                </form>
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"><i class="material-icons md-apps"></i></button>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link btn-icon" href="#">
                            <i class="material-icons md-notifications animation-shake"></i>
                            <span class="badge rounded-pill">3</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownLanguage" aria-expanded="false"><i class="material-icons md-public"></i></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguage">
                            <a class="dropdown-item text-brand" href="#"><img src="assets/imgs/theme/flag-us.png" alt="English" />English</a>
                            <a class="dropdown-item" href="#"><img src="assets/imgs/theme/flag-fr.png" alt="Français" />Français</a>
                            <a class="dropdown-item" href="#"><img src="assets/imgs/theme/flag-jp.png" alt="Français" />日本語</a>
                            <a class="dropdown-item" href="#"><img src="assets/imgs/theme/flag-cn.png" alt="Français" />中国人</a>
                        </div>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="assets/imgs/people/avatar-2.png" alt="User" /></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit Profile</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account Settings</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-account_balance_wallet"></i>Wallet</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help center</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="#"><i class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Coupon</h2>
                    <% 
                    if(typeof message !=='undefined'){
                      %>
                      <h5 style="color: red;" id="errorMessage"><%-message %></h5>
            
                      <%
                    }
                    %>
                    
                </div>
               
          
            </div>
            <div class="card mb-4">

               
                <!-- card-header end// -->
                <div class="card-body">
                    <div class="table-responsive" >
                    
                            <div id="reloadDiv">
                            <table  class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">NO</th>
                                        <th scope="col">name</th>
                                        <th scope="col">Coupon Code</th>
                                        <th scope="col">Discount</th>
                                        <th scope="col">Criteria Amount</th>
                                        <th scope="col">Activation Date</th>
                                        <th scope="col">Expiary Date</th>
                                        <th scope="col">Action</th>
                                       
                                        

                                    </tr>
                                </thead>
                                <tbody>
                                 <%coupons.reverse().forEach((coupon,index) => {%>
                                  
                                 
                                 <tr>
                                 <td><%=index+1%></td>
                                 <td><%=coupon.name%> </td>
                                 <td><%=coupon.couponCode%></td>
                                 <td><%=coupon.discountAmount%></td>
                                 <td><%=coupon.criteriaAmount%></td>
                                 <td><%=coupon.activationDate?.toLocaleDateString('en-US', {
                                  weekday: 'short' , year: 'numeric' , month: 'short' ,
                                  day: 'numeric'||'n/a' })%></td>
                                 <td><%=coupon.expiryDate?.toLocaleDateString('en-US', {
                                  weekday: 'short' , year: 'numeric' , month: 'short' ,
                                  day: 'numeric'||'n/a' })%></td>
                                 <td><button   data-user-id="<%=coupon._id%>"   class="deleteButton"  >Delete</button></td>
                                 
                                 
                                
                              </tr>
                         <%   }); %>
                                </tbody>
                            </table>
                            </div>
                    </div>
                    
                
                
                    
                    
                </div>
                <!-- card-body end// -->
            </div>
            <a  <button type="button"  data-bs-toggle="modal" data-bs-target="#addModal" class="btn btn-primary"   >add Coupon</button></a>
            <!-- card end// -->
            <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h3 class="modal-title" id="exampleModalLabel">Add Coupon</h3>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                   
                        
                      <p id="Error" style="color: red"></p>
                      <form action="/admin/Addcoupon"   method="post" onsubmit="return  validateForm()"  >
                          <div class="row">
                          <div class="col-md-6">
                        <div class="mb-3">
                          <label for="recipient-name" class="col-form-label">Coupon name:</label>
                          <input type="text" name="name" class="form-control" id="idname">
                          <p id="nameError" style="color: red"></p>
                        </div>
                        <div class="mb-3">
                          <label for="recipient-name" class="col-form-label">Coupon code:</label>
                          <input type="text" name="Couponcode" class="form-control"  id="idcode">
                          <p id="addressError" style="color: red"></p>
                        </div>
                        <div class="mb-3">
                           
                          <label for="recipient-name" class="col-form-label">Discount Amount:</label>
                          <input type="text" name="discountAmount" class="form-control" id="iddiscount" >
                          <p id="landmarkError" class="error-message" style="color: red"></p>
                        </div>
                        <div class="mb-3">
                          <label for="recipient-name" class="col-form-label">Activation Date:</label>
                          <input type="text" name="activationdate" class="form-control" id="idactivation" >
                          <p id="acdate" class="error-message" style="color: red"></p>
                        </div>
                          </div>
                          <div class="col-md-6">
                        <div class="mb-3">
                            
                          <label for="recipient-name" class="col-form-label">Expire Date:</label>
                          <input type="text" name="Expiredate" class="form-control" id="idExpire">
                          <p id="cityError" class="error-message" style="color: red"></p>
                        </div>
                        <div class="mb-3">
                            
                          <label for="recipient-name" class="col-form-label">Criteria Amount:</label>
                          <input type="text" name="cramount" class="form-control" id="idcriteria">
                          <p id="pincodeError" class="error-message" style="color: red"></p>
                          
                        </div>
                       
                        
                      </div>
                      <div class="col-md-12">
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-warning">Add</button>
                      </div>
                    </div>
                       </div>
                      </form>
                   </div>
                  </div>
                </div>
              </div>







        </section>
        <%- include('../layout/admin/footer.ejs') %>  
        <script>
    
            function validateForm(){
              console.log("yyyyyy");
              
                
              
              
              console.log("hetttt");
              var name=document.getElementById('idname').value
              var Couponcode=document.getElementById('idcode').value
              var discountAmount=document.getElementById('iddiscount').value
              var Activationdate=document.getElementById('idactivation').value
              var Expiredate=document.getElementById('idExpire').value
              var CriteriaAmount=document.getElementById('idcriteria').value
              var discount = parseFloat(discountAmount);
              var selectedDate = new Date(Activationdate);
              var expdate= new Date(Expiredate)
              var currentDate = new Date();
            
              if(name==""||Couponcode==""||discountAmount==""||Activationdate==""||Expiredate==""||CriteriaAmount==""){
                console.log("heloo");
                  document.getElementById("Error").innerText="Empty input field pleas fill "
                  return false
              }
              if(!/^[a-zA-Z\s]+$/.test(name)) {
                
                  document.getElementById("nameError").innerText="pleas enter name "
                  return false
              }else if(!/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{4,}$/.test(Couponcode)){
                console.log("hoiiiirrrRRR");
                document.getElementById("addressError").innerText="must contain at least one capital letter, one lowercase letter, one number, and be at least 4 characters long"
                return false
              }else if (!discountAmount.trim()) {
               document.getElementById("landmarkError").innerText = "Discount amount is required";
               return false;
              } else if  (isNaN(discountAmount)) {
               document.getElementById("landmarkError").innerText = "Discount amount must be a number";
                return false;
              } else  if (!Number.isInteger(discount) || discount < 0 || discount > 100) {
              document.getElementById("landmarkError").innerText = "Discount amount must be a positive integer between 0 and 100";
              return false;
             }else if(!Activationdate.trim()){
                document.getElementById("acdate").innerText = "Empty input field";
                return false
             }else if(selectedDate < currentDate){
                document.getElementById("acdate").innerText = "pleas eneter correct date";
                return false
             }else if(!Expiredate.trim() ){
                document.getElementById("cityError").innerText = "Empty input field";
                return false
             }else if(expdate <= selectedDate){
                document.getElementById("cityError").innerText = "pleas enter expire date";
                return false
             }else if (!CriteriaAmount.trim()) {
               document.getElementById("pincodeError").innerText = " amount is required";
               return false;
              } else if  (isNaN(CriteriaAmount)) {
               document.getElementById("pincodeError").innerText = "pleas enter right amount";
                return false;
              }  
                return true
              }

         
            
           
           
      
          
       
          
          </script> 
           <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
          <script>
// Select all elements with the class 'deleteButton'
document.querySelectorAll('.deleteButton').forEach(button => {
    // Add event listener to each delete button
    button.addEventListener('click', async function() {
        // Get the productId from the clicked button's data attribute
        const productId = this.getAttribute('data-user-id');
        console.log(productId);
        
        const result = await Swal.fire({
            title: "Are you sure?",
            text: "You won't be able to revert this!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Yes, delete it!",
        });
        
        if (result.isConfirmed) {
            try {
                const response = await fetch(`/admin/removeCoupon/${productId}`, {
                    method: 'DELETE',
                });
                if (response.ok) {
                    location.reload();
                } else {
                    Swal.fire({
                        title: "Error",
                        text: "Failed to delete the product.",
                        icon: "error",
                    });
                }
            } catch (error) {
                console.error(error);
                Swal.fire({
                    title: "Error",
                    text: "An unexpected error occurred.",
                    icon: "error",
                });
            }
        }
    });
});

</script>
<script>
    
    setTimeout(function() {
        var errorMessage = document.getElementById('errorMessage');
        if (errorMessage) {
            errorMessage.style.display = 'none';
        }
    }, 5000);
</script>