<%- include('../layout/admin/header.ejs') %>
<div class="col-md-12"  style="  display: block; 
margin: auto;  
width: 50%;    
position: relative; 
top: 50%;
transform: translateY(-50%);">
    <form  action="#" method="post">
        <% 
        if(typeof message !=='undefined'){
          %>
          <h5 style="color: red;" id="errorMessage"><%-message %></h5>

          <%
        }
        %>
       
        <div class="mb-4">
          
            <label for="name"   class="form-label">Name</label>
            <input type="text" name="name" placeholder="<%=userdata.name %>" class="form-control" id="name" />
            <p id="nameError" style="color: red"></p>
        </div>
       
       
        <div class="mb-4">
            <label for="Description" class="form-label">Description</label>
            <textarea placeholder="<%=userdata.description%>" name="Description" id="Description" class="form-control"></textarea>
            <p id="DescriptionError" style="color: red"></p>
            <input type="hidden" name="id" value="<%=userdata._id%>">
        </div>
        <div class="d-grid">
            <button type="submit"  onclick="return validateForm()"  class="btn btn-primary">Update category</button>
           
        </div>
    </form>
</div>
<script>
function validateForm(){
    var name=document.getElementById('name').value
    var Description=document.getElementById('Description').value
    if (!/^[a-zA-Z]+$/.test(name) || name.trim() === ""){
        document.getElementById("nameError").innerText="plaes enter valid name (letter only)"
        return false
    }else{
        document.getElementById("nameError").innerText=""
    }
    if (Description.trim() === "") {
            document.getElementById("DescriptionError").innerText="pleas eneter discription"
            return false;
        }else{
            document.getElementById("DescriptionError").innerText=""
        }
            if (hasMixedCase(name)) {
        document.getElementById("nameError").innerText = "Category name cannot contain both uppercase and lowercase versions of the same letter";
        return false;
    }

    return true;
}


function hasMixedCase(categoryName) {
    var lowerCaseName = categoryName.toLowerCase();
    var upperCaseName = categoryName.toUpperCase();

    // Compare the lowercase and uppercase versions of the category name
    // If they are not equal, it means the category name contains both uppercase and lowercase versions of the same letter
    return lowerCaseName !== categoryName && upperCaseName !== categoryName;
}

</script>

<%- include('../layout/admin/footer.ejs') %>