<%- include('../layout/admin/header.ejs') %>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">

<body>
    
    
            
                
                   
              
                
                   
                
                
                
         
           
         
               
            
           
    <main class="">
       
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title"></h2>
                    
                </div>
             
            </div>
            <div class="card mb-4">

                <header class="card-header">
                    <div class="row align-items-center">
                        <div class="col col-check flex-grow-0">
                           
                        </div>
                        <% if(data!="Total"){%>
                        <div class="col-md-4 col-12 me-auto mb-md-0 mb-3">
                            <h2 class="content-title card-title"><%=data%> Sales Report</h2>
                        </div>
                    <%}%>
                        <% if(data=="Total"){%>
                        <div class="container text-center mt-5">
            
                            <div class="col-6 mx-auto">
                                <div class="form-group">
                                    <label for="startDate">Start Date</label>
                                    <input type="date" class="form-control" id="startDate">
                                </div>
                                <div class="form-group">
                                    <label for="endDate">End Date</label>
                                    <input type="date" class="form-control" id="endDate">
                                </div><br>
                                <button class="btn btn-primary" onclick="filterOrders()">Filter</button>
                            </div>
                        </div>
                    <%}%>
                       
                        <div class="col-md-2 col-6">
                            <%if(data!="Total"){%>
                          <a href="/admin/DownloadPdf?id=<%=data%>"> <button id="downloadButton" class="btn btn-info ">Download</button></a> 
                          <%}else{%>
                            <a id="downloadLink" <button id="downloadButton" class="btn btn-info" onclick="addDateParamsToDownloadLink()" >Download</button></a>

                            <%}%>
                        </div>
                    </div>
                </header>
                <!-- card-header end// -->
                <div class="card-body">
                    <div class="table-responsive" >
                    
                            <div id="reloadDiv">
                            <table  class="table table-bordered border-secondary ">
                                <thead>
                                    <tr>
                                        <th scope="col">NO</th>
                                        <th scope="col">Order Id</th>
                                        <th scope="col">Billing Name</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Total</th>
                                        <th scope="col">Payment</th>
                                       
                                        

                                    </tr>
                                </thead>
                                <tbody>
                                    <% yearlyorder.forEach((order,index) => {%>
                                        
                                   
                                 <tr class="order-row" data-order-date="<%= order.orderDate %>">
                                 <td><%=index+1%></td>
                                 
                                 <td><%=order._id%></td>
                                 <td><%=order.delivery_address?.name||'n/a'%></td>
                                 <td><%=order.orderDate?.toLocaleDateString('en-US', {
                                    weekday: 'short' , year: 'numeric' , month: 'short' ,
                                    day: 'numeric'||'n/a' }) %></td>
                                 <td><%=order.subtotal%></td>
                                 <td><%=order.payment%></td>
                                 
                                    
                                       
                                   
                                 
                              
                                </tr>
                            <%})%>      
                                </tbody>
                            </table>
                            </div>
                    </div>
                    
                
                
                    
                    
                </div>
                <!-- card-body end// -->
            </div>
            <!-- card end// -->
          






        </section>
        <!-- <script>
            window.addEventListener('beforeunload', function() {
                document.getElementById('downloadButton').style.display = 'none';
                document.getElementById('startDate').style.display = 'none';
                document.getElementById('endDate').style.display = 'none';
            });
        </script> -->

        <script>
         function filterOrders() {
            console.log("filtererrer");
         const   startdate= document.getElementById('startDate').value
         const  endDate=document.getElementById('endDate').value

         const startdateTime=new Date(startdate).getTime()
         const endDateTime=new Date(endDate).getTime();

         const orderRows=document.querySelectorAll('.order-row')


         orderRows.forEach((row)=>{
              const orderDate=new Date(row.getAttribute('data-order-date')).getTime()
              
              if (!isNaN(orderDate)) {
        if (orderDate >= startdateTime && orderDate <= endDateTime) {
            row.style.display = 'table-row';
        } else {
            row.style.display = 'none';
        }
    } else {
        console.error("Invalid order date:", orderDateValue);
    }

         })
            
         }

        </script>
        <script>
            function addDateParamsToDownloadLink() {
                console.log("vanne vanne");
                var startDate = document.getElementById("startDate").value;
                var endDate = document.getElementById("endDate").value;
                var downloadLink = document.getElementById("downloadLink");
                downloadLink.href = "/admin/DownloadPdf?startDate=" + startDate + "&endDate=" + endDate;
            }
        </script>