<style>
  img {
    max-width: 67%;
  }
  .img-fluid {
    max-width: 94%;
    height: auto;
}
.contain{
  border-radius: 10px;
    box-shadow: 0 0 10px;
}
.container{
  border-radius: 10px;
    box-shadow: 0 0 10px; 
    height: 50%;
}

</style>

<%- include('../layout/admin/header.ejs') %>

<link rel="stylesheet" href="path/to/bootstrap.css">
<h1 style="  font-size: 45px;  margin-left: 37%;">Order Detials</h1>
<div class="card-body ">
  <div class="container">
<div class="row">
  <div style="margin-left: 50px;" class="col-md-4">
    <h2>Delivery Address</h2>
    
    <p style=" margin-top: 25px;   margin-left: 20px;">
      Name:<%=order.delivery_address.name%> <br>
      Address:<%=order.delivery_address.address%> <br>
      Landmark:<%=order.delivery_address.landmark%> <br>
      State:<%=order.delivery_address.state%> <br>
      City:<%=order.delivery_address.city%> <br>
      Pincode:<%=order.delivery_address.pincode%> <br>
      Phone:<%=order.delivery_address.phone%> <br>
      Email:<%=order.delivery_address.email%> <br>
      <button   data-bs-toggle="modal" data-bs-target="#editModal"  style="    height: 25px; margin-top: 10px;" class="btn btn-dark ">edit</button>
      

    </p>

  </div>
<div style="margin-left: 20%;" class="col-md-4">
  <h2>Order Summary</h2>
 
    <p style=" margin-top: 25px;   margin-left: 20px;">
 Orderid:<%=order._id%>
 <br>
 OrderDate :<%=order.orderDate.toLocaleDateString('en-US', {
  weekday: 'short' , year: 'numeric' , month: 'short' ,
  day: 'numeric' })%>
 <br>
 Ordereditems:
 <br>
 Subtotal Amount :<%=order.subtotal%>
 <br>
Discount Amount:
<br>
Payment method:<%=order.payment%>
</p>
</div>
</div>
</div>
</div>




<div class="card-body">
     <h1 style="margin-left: 45%;">Product</h1>
    
    <% order.products.forEach(function(product, index) { %>
      <div class="">
      <div style="    margin-left: 8%;margin-right: 98px;" class="row mb-2 border border-secondary">
        <div class="col-md-2">
          <img class="img-fluid" src="/sharpimages/<%= product.productId.images.image1 %>" alt="" />
        </div>
        <div style="    margin-left: 54px;" class="col-md-6">
          <h4><%= product.productId.name %></h4>
          <p>
            Category: <!-- Add your category data here -->
            <br>
            Price: <%= product.price %>
            <br>
            Quantity: <%= product.quantity %>
            <br>
            Total Price: <%= product.totalPrice %>
            <br>
            Status : <%= product.productStatus %>
            <br>
            <%if( product.cancelReason!=undefined){%>
            Reason : <%= product.cancelReason %>
            <%}%>
            
            <br>
           <% if(product.productStatus=="placed"||product.productStatus=="shipped"){%>
            <button class="btn btn-danger " onclick="cancelproduct('<%=product._id%>')">Cancel</button>
          <%}else if(product.productStatus=="delivered"){%>
            <%if(daysDifferenceRounded<=2){%>
           
            <button class=" btn btn-danger " onclick="returnproduct('<%=product._id%>','<%=order._id%>')">Return</button>
           
            <% }else{%>
            <div style=" padding-bottom: 30px; color: red;">your order is coming soon</div>
          <%  } %>
          <% } %>
          </p>
          
        </div>
      </div>
    </div>
    <% }) %>
  
</div>


<!-- ////edit modal////////////// -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Edit Address</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post"   action="/editorderADDRUpdate">
			<div class="row">
			<div class="col-md-6">
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Name:</label>
            <input type="text" value="<%=order.delivery_address.name%>" name="namee" class="form-control" id="recipient-name"> 
			<input type="hidden" name="id" value="<%=order._id%>"  >   
          </div>
		  <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Address:</label>
            <input type="text" value="<%=order.delivery_address.address%> " name="addresse" class="form-control" id="recipient-address">
          </div>
		  <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Landmark:</label>
            <input type="text" value="<%=order.delivery_address.landmark%> " name="Landmarke" class="form-control" id="recipient-landmark">
          </div>
		  <div class="mb-3">
            <label for="recipient-name" class="col-form-label">State:</label>
            <input type="text" value="<%=order.delivery_address.state%>" name="statee" class="form-control" id="recipient-state">
			
          </div>
			</div>
			<div class="col-md-6">
		  <div class="mb-3">
            <label for="recipient-name" class="col-form-label">City:</label>
            <input type="text" value="<%=order.delivery_address.city%> " name="citye" class="form-control" id="recipient-city">
          </div>
		  <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Pincode:</label>
            <input type="text" value="<%=order.delivery_address.pincode%>" name="pincode" class="form-control" id="recipient-pincode">
          </div>
		  <div class="mb-3">
            <label for="recipient-name" class="col-form-label">phone:</label>
            <input type="text" value="<%=order.delivery_address.phone%> " name="phonee" class="form-control" id="recipient-phone">
          </div>
		  <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Email:</label>
            <input type="text" value="<%=order.delivery_address.email%>" name="emaile" class="form-control" id="recipient-email">
          </div>
		</div>
		<div class="col-md-12">
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
		  <button type="submit" class="btn btn-info">update</button>
		</div>
      </div>
         </div>
         
        </form>
     </div>
    </div>
  </div>
</div>

<!--  -->

      
    
    
    <%- include('../layout/admin/footer.ejs') %>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
      function cancelproduct(productId) {
        console.log("helooo");
        Swal.fire({
            title: 'Enter Cancel reason',
            input: 'text',
            inputLabel: "Cancel Reason",
            inputPlaceholder: 'please enter the reason for cancellation',
            showCancelButton: true, 
            confirmButtonText: 'Cancel Order',
            cancelButtonText: 'Cancel', 
            preConfirm: (cancelReason) => {
                if (!cancelReason) {
                    Swal.showValidationMessage('Cancel reason is required');
                }
                return cancelReason;
            }
        }).then((result)=>{
          if(result.isConfirmed){
            const data={
              productId,
              cancelreason:result.value
            };
            fetch('/cancelproduct',{
              method:'POST',
              headers:{
                'Content-Type':'application/json',
              },
              body:JSON.stringify(data),
            })
            .then(response=>response.json())
            .then(result=>{
              if(result.cancel){
                location.reload()
              }

            })
          }
        })
      }
    </script>

<script>
  function returnproduct(productId,orderId) {
    console.log("helooo");
    Swal.fire({
        title: 'Enter Return reason',
        input: 'text',
        inputLabel: "Return Reason",
        inputPlaceholder: 'please enter the reason for Return',
        showCancelButton: true, 
        confirmButtonText: 'Return Order',
        cancelButtonText: 'Cancel', 
        preConfirm: (returnReason) => {
            if (!returnReason) {
                Swal.showValidationMessage('Return reason is required');
            }
            return returnReason;
        }
    }).then((result)=>{
      if(result.isConfirmed){
        const data={
          productId,
          orderId,
          cancelreason:result.value
        };
        fetch('/retunproduct',{
          method:'POST',
          headers:{
            'Content-Type':'application/json',
          },
          body:JSON.stringify(data),
        })
        .then(response=>response.json())
        .then(result=>{
          if(result.cancel){
            location.reload()
          }

        })
      }
    })
  }
</script>
<!-- <script>
  $(document).ready(function(){
	$('#editModal').on('show.bs.modal',function(event){
		console.log("hiii");
		var button=$(event.relatedTarget);
		var productId=button.data('id');
    console.log(productId);
		$('#recipient-id').val(productId)

		$.ajax({
			url:'/addresdetials/'+productId,
			method:'GET',
			success:function(data){
				
				$('#recipient-name').val(data.address.name)
                $('#recipient-address').val(data.address.address)
                $('#recipient-landmark').val(data.address.landmark)
                $('#recipient-state').val(data.address.state)
                $('#recipient-city').val(data.address.city)
				$('#recipient-pincode').val(data.address.pincode)
				$('#recipient-phone').val(data.address.phone)
				$('#recipient-email').val(data.address.email)
			}
		})
	})
})
</script> -->
   