<%- include('../layout/admin/header.ejs') %>
<script src="https://kit.fontawesome.com/14093101a5.js" crossorigin="anonymous"></script>
<style>
    body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
#hero {
	height: 85vh;
	width: 100%;
	background-image: url(asset/img/breadcrumb.png);
	color: black;
}
main {
	display: grid;
	grid-template-columns: 3fr 1fr;
}
nav {
	position: fixed;
	top: 0;
	width: 100%;
	
	color: black;
	padding: 10px 0;
	text-align: center;
	display: flex;
	
	z-index: 2;
    box-shadow: 0 0 10px rgba(0,0,0);
}

nav a {
	color: black;
	text-decoration: none;
	padding: 10px 20px;
}

section {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	color: black;
}
#portfolio {
	background-color:whitesmoke;
	flex-direction: column;
    
}
#press {
	background-color: #9e0059;
}
#shop {
	background-color: #ff0054;
}
#about {
	background-color: #390099;
}
.box {
	margin: 0;
	padding: 16px;
	width: 100%;
	height: 120px;
	background-color: aliceblue;
}
#social-nav {
	background: gold;
	position: sticky;
}

.container {
	position: relative;
    left: 0px;
    width: 81%;
    height: 72%;
    background: #f0ecec;
    border-radius: 8px;

	
}
.contin{
	position: relative;
    left: 0px;
    width: 57%;
    height: 40%;
    background-color: azure;
    margin-left: 23%;
    margin-top: 22%;
    border-radius: 10px;
    box-shadow: 0 0 10px;
}
	

.sec {
	width: 100%;
	height: 50%;
}
.sub-sticky {
	width: 100%;
	position: sticky;
	top: 0;
}
.sec a {
	text-decoration: none;
	padding: 8px;
	color: #fff;
	font-size: 18px;
	background: teal;
}
#s1 {
	background: hotpink;
}
#s2 {
	background: orange;
}
#s3 {
	background: purple;
}
#s4 {
	background: cyan;
}
</style>

<header>
	<nav id="sticky-nav">
		<a style="margin-left: 8%;" class="navbar-brand" href="index.html"> <img src="asset/img/logo.png" alt="logo"> </a>
		<a style="margin-left: 14%;" href="/home">Home</a>
		<a href="/shop">Shop</a>
		<a href="#shop">Pages</a>
		<a href="#about">Blog</a>
		<a href="/contact">Contact</a>
		<div style="    margin-top: 9px;     margin-left: 210px"><i class="fa-solid fa-magnifying-glass"></i></div>
		
	  <div     style="    margin-top: 9px;     margin-left: 30px">	<i class="fa-regular fa-heart"></i></div>
	<a href="/profile">	<div style="    margin-top: 9px;    margin-left: 30px"><i class="fa-solid fa-user"></i></div></a>
	<a href="/cart">	<div style="    margin-top: 9px  ;  margin-left: 30px;"><i class="fa-solid fa-cart-shopping"></i></div></a>
	</nav>
	<section id="hero">
		<div id="hero-text">
			<h2 style="    padding-right: 251px;">My Profile</h2>
			<p></p>
		</div>
	</section>
</header>

<main>
	<div class="main1">
		
		<section id="portfolio">
			
			<h2 style="margin-right: 60%;" >User Dashboard</h2>
			<div class="container">
				 
				 <div class="contin">
					<div style="    margin-left: 85px;">
					<p style="font-size: 16px;
					font-family: fantasy;">Name:  <%=name%></p>
					<p style="font-size: 16px;
					font-family: fantasy;">Email:  <%=email%></p>
					
					<p style="font-size: 16px;
					font-family: fantasy;">phone:  <%=mobile%></p>
					<p style="font-size: 16px;
					font-family: fantasy;">Referral Code:</p>
					</div>
				   
				   </div>
				   <a>  <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-danger  " style="    width: 9%;height: 30px;margin-left: 23%; margin-top: 17px;"  >Edit</button></a></a>
				
				</div>
			</div>
		
	</div>
	<aside id="aside">
       
		<div>
            <ul class="menu-aside">
                <li class="menu-item active">
                    <a class="menu-link" href="">
                        <i class="icon material-icons md-home"></i>
                        <span  class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/profileorder">
                        <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Order</span>
                    </a>
                    
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="">
                        <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Wallet</span>
                    </a>
                   
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/profileaddress">
                        <i class="icon material-icons md-store"></i>
                        <span class="text">Address</span>
                    </a>
                    </li>
					<li class="menu-item ">
						<a class="menu-link" href="/profilepassword">
							<i class="icon material-icons md-store"></i>
							<span class="text">password</span>
						</a>
						</li>
						<li class="menu-item ">
							<a class="menu-link" href="/profilelogout">
								<i class="icon material-icons md-store"></i>
								<span class="text">Logout</span>
							</a>
							</li>
                  
                
            
              
               
               
     
            </ul>
            <hr />
           
            
        </div>
		
		
	</aside>
	

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post" action="/updateuser">
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">name:</label>
            <input type="text" value="<%=name%>" name="name" class="form-control" id="recipient-name">
           <input type="hidden" value="<%=userId%>" name="id">
		</div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">phone:</label>
            <input type="text" value="<%=mobile%>" name="phone" class="form-control" id="recipient-number">
          </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			<button type="submit" class="btn btn-primary">Update</button>
		  </div>
        </form>
      </div>
      
    </div>
  </div>
</div>
</main>
<%- include('../layout/admin/footer.ejs') %>

