<%- include('../layout/user/header.ejs') %>
<%- include('../layout/admin/header.ejs') %>
<script src="https://kit.fontawesome.com/14093101a5.js" crossorigin="anonymous"></script>
<style>
 

 main {
	display: grid;
	grid-template-columns: 1fr 1fr;
} 

.containerr {
	position: relative;
    left: -41px;
    width: 157%;
    height: 72%;
    background: aliceblue;
    border-radius: 8px;

	
}



 #portfolio {
	background-color:aliceblue;
	flex-direction: column;
    
} 
#press {
	background-color: #9e0059;
}
#shop {
	background-color: #ff0054;
}
#about {
	background-color: #390099;
}
.box {
	margin: 0;
	padding: 16px;
	width: 100%;
	height: 120px;
	background-color: aliceblue;
}
#social-nav {
	background: gold;
	position: sticky;
}


.con{
	padding-left: 40px;
	padding-right: 40px;
}
.contin{
	position: relative;
    left: 0px;
    width: 57%;
    height: 40%;
    background-color: azure;
    margin-left: 10%;
   
    border-radius: 10px;
    box-shadow: 0 0 10px;
}
	

.sec {
	width: 100%;
	height: 50%;
}
.sub-sticky {
	width: 100%;
	position: sticky;
	top: 0;
}

 
.sec a {
	text-decoration: none;
	padding: 8px;
	color: #fff;
	font-size: 18px;
	background: teal;
}
#s1 {
	background: hotpink;
}
#s2 {
	background: orange;
}
#s3 {
	background: purple;
}
#s4 {
	background: cyan;
}

img {
    max-width: 100%;
    height: auto;
}

.hamburger {
    display: none;
}
.bar{
	padding-left: 20%;
	display: flex;
}


    

 

</style>

<div class="responsive-container">
    <div class="text-mm"  style="background-color: aliceblue" >
        <h2>
.
        </h2>
    </div>
    <img src="/public/asset/img/breadcrumb.png" alt="Breadcrumb Image">
</div>

<main>
	<div class="main1">
		
		<section id="portfolio">
			
			<h3  style="padding-bottom: 39px;" >User Dashboard</h3>
			
			<div class="containerr">
				 
				 <div class="contin">
					<div
					class="con">
					<p style="font-size: 16px;
					font-family: fantasy;">Name:  <%=name%></p>
					<p style="font-size: 16px;
					font-family: fantasy;">Email:  <%=email%></p>
					
					<p style="font-size: 16px;
					font-family: fantasy;">phone:  <%=mobile%></p>
					<p style="font-size: 16px;
					font-family: fantasy;">Referral Code:</p>
					</div>
				   
				   </div>
				   <a>  <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-danger  " style="    height: 30px;margin-left: 23%; margin-top: 17px;"  >Edit</button></a></a>
				
				</div>

				
			</div>
			<aside style="background-color: aliceblue;" id="aside">
       
				<div   >
					<ul class="menu-aside">
						<li class="menu-item active">
							<a class="menu-link" href="">
								<i class="icon material-icons md-home"></i>
								<span  class="text">Dashboard</span>
							</a>
						</li>
						<li class="menu-item ">
							<a class="menu-link" href="/profileorder">
								<i class="icon material-icons md-shopping_bag"></i>
								<span class="text">Order</span>
							</a>
							
						</li>
						<li class="menu-item ">
							<a class="menu-link" href="/wallet">
								<i class="icon material-icons md-shopping_cart"></i>
								<span class="text">Wallet</span>
							</a>
						   
						</li>
						<li class="menu-item ">
							<a class="menu-link" href="/profileaddress">
								<i class="icon material-icons md-store"></i>
								<span class="text">Address</span>
							</a>
							</li>
							<li class="menu-item ">
								<a class="menu-link" href="/profilepassword">
									<i class="icon material-icons md-store"></i>
									<span class="text">password</span>
								</a>
								</li>
								<li class="menu-item ">
									<a class="menu-link" href="/logout">
										<i class="icon material-icons md-store"></i>
										<span class="text">Logout</span>
									</a>
									</li>
						  
						
					
					  
					   
					   
			 
					</ul>
					<hr />
				   
					
				</div>
				
				
			</aside>
	</div>
	
	

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post" action="/updateuser">
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">name:</label>
            <input type="text" value="<%=name%>" name="name" class="form-control" id="recipient-name">
           <input type="hidden" value="<%=userId%>" name="id">
		</div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">phone:</label>
            <input type="text" value="<%=mobile%>" name="phone" class="form-control" id="recipient-number">
          </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			<button type="submit" class="btn btn-primary">Update</button>
		  </div>
        </form>
      </div>
      
    </div>
  </div>
</div>
</main>



<script>
    function toggleMenu() {
        const nav = document.getElementById("sticky-nav");
        nav.classList.toggle("active");
    }
</script>


<%- include('../layout/user/footer.ejs') %>

