<%- include('../layout/user/header.ejs') %>
  

    <!--================Home Banner Area =================-->
    <!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="breadcrumb_iner">
                        <div class="breadcrumb_iner_item">
                            <h2>Shop Category</h2>
                            <p>Home <span>-</span> Shop Category</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb start-->

    <!--================Category Product Area =================-->
    <section class="cat_product_area section_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="left_sidebar_area">
                        <aside class="left_widgets p_filter_widgets">
                            <div class="l_w_title">
                                <h3>Browse Categories</h3>
                            </div>
                            <div class="widgets_inner">
                                <ul class="list">
                                    <li>
                                        <a href="#">Frozen Fish</a>
                                        <span>(250)</span>
                                    </li>
                                    <li>
                                        <a href="#">Dried Fish</a>
                                        <span>(250)</span>
                                    </li>
                                    <li>
                                        <a href="#">Fresh Fish</a>
                                        <span>(250)</span>
                                    </li>
                                    <li>
                                        <a href="#">Meat Alternatives</a>
                                        <span>(250)</span>
                                    </li>
                                    <li>
                                        <a href="#">Fresh Fish</a>
                                        <span>(250)</span>
                                    </li>
                                    <li>
                                        <a href="#">Meat Alternatives</a>
                                        <span>(250)</span>
                                    </li>
                                    <li>
                                        <a href="#">Meat</a>
                                        <span>(250)</span>
                                    </li>
                                </ul>
                            </div>
                        </aside>

                        <!-- <aside class="left_widgets p_filter_widgets">
                            <div class="l_w_title">
                                <h3>Product filters</h3>
                            </div>
                            <div class="widgets_inner">
                                <ul class="list">
                                    <li>
                                        <a href="#">Apple</a>
                                    </li>
                                    <li>
                                        <a href="#">Asus</a>
                                    </li>
                                    <li class="active">
                                        <a href="#">Gionee</a>
                                    </li>
                                    <li>
                                        <a href="#">Micromax</a>
                                    </li>
                                    <li>
                                        <a href="#">Samsung</a>
                                    </li>
                                </ul>
                                <ul class="list">
                                    <li>
                                        <a href="#">Apple</a>
                                    </li>
                                    <li>
                                        <a href="#">Asus</a>
                                    </li>
                                    <li class="active">
                                        <a href="#">Gionee</a>
                                    </li>
                                    <li>
                                        <a href="#">Micromax</a>
                                    </li>
                                    <li>
                                        <a href="#">Samsung</a>
                                    </li>
                                </ul>
                            </div>
                        </aside> -->

                      

                       
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="product_top_bar d-flex justify-content-between align-items-center">
                                <div class="single_product_menu">
                                    
                                </div>
                                <!-- <div class="single_product_menu d-flex">
                                    <h5>short by : </h5>
                                    <select>
                                        <option data-display="Select">name</option>
                                        <option value="1">price</option>
                                        <option value="2">product</option>
                                    </select>
                                </div> -->
                                <div class="single_product_menu d-flex">
                                    <h5>show :</h5>
                                    <div class="top_pageniation">
                                        <ul>
                                            <li>1</li>
                                            <li>2</li>
                                            <li>3</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="single_product_menu d-flex">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="search"
                                            aria-describedby="inputGroupPrepend">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroupPrepend"><i
                                                    class="ti-search"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center latest_product_inner">
                    <% product.forEach((user,index)=>{%>
                        
                        <div class="col-lg-4 col-sm-6">
                            <div class="single_product_item">
                              <a href="/singleproduct?id=<%=user._id%>">  <img src="/sharpimages/<%=user.images.image1%>" alt=""> </a>
                                <div id="reloadWishlist_<%= user._id %>" class="single_product_text">
                                    <h4><%=user.name%></h4>
                                    <div class="price">
                                        <%if(!user.discountedPrice){%>
                                            <span style="color: red;" class="sale-price">₹<%=user.price%></span>
                                        <%}else{%>
                                            <span class="old-price">₹<%=user.price%></span>&nbsp;&nbsp;<span class="sale-price">₹<%=user.discountedPrice%></span>
                                        <%}%>
                                    </div>
                                    <a  class="add_cart">+ add to cart</a>
                                       <a onclick="addTowhishlist('<%=user._id%>')"> <i class="ti-heart" ></i></a>
                                </div>
                            </div>
                        </div>
                      
                    <%})%>
                       
                      
                      
                      
                       
                          
                            
                       
                            
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Category Product Area =================-->

    <!-- product_list part start-->
 
    <!-- product_list part end-->
    <%- include('../layout/user/footer.ejs') %>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
  function addTowhishlist(productId){
    console.log("hahahah");
    $.ajax({
        url:'/getwhislist',
        method:'POST',
        data:{productId},
        success:function(response){
            if(response.add){
            console.log("verumooooooniiiiiiiiiiiiiiiiiiii");
                let productId = response.productId;
            
                $('#reloadWishlist_' + productId).fadeOut(300, function() {
                    $(this).load('/shop #reloadWishlist_' + productId, function() {
                        $(this).fadeIn(300);
                    });
                });
          

            }else if(response.remove){
                let productId = response.productId;
            
            $('#reloadWishlist_' + productId).fadeOut(300, function() {
                $(this).load('/shop #reloadWishlist_' + productId, function() {
                    $(this).fadeIn(300);
                });
            });
            }  else if(response.user){
                Swal.fire({
                    icon: "warning",
                    title: "Please Login",
                    confirmButtonColor: "#3085d6",
                    confirmButtonText: "Login",
                    showCancelButton: true,
                    cancelButtonColor: "#d33",
                }).then((result) => {
                    if (result.isConfirmed) {
                        location.href = "/login";
                    }
                });


            }
        }
    })
}

  


    </script>